@import url(./style/_border-radius.css);
@import url(./style/_borders.css);
@import url(./style/_colors.css);
@import url(./style/_flexbox.css);
@import url(./style/_hovers.css);
@import url(./style/_links.css);
@import url(./style/_max-widths.css);
@import url(./style/_skins.css);
@import url(./style/_spacing.css);
@import url(./style/_text-align.css);
@import url(./style/_widths.css);

.m0a {
  margin: 0 auto;
}
